:root {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

:root::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* font-family: "Sansita One"; */
    font-family: "Pacifico";
    mix-blend-mode: difference;
}

.floatingText {
    position: fixed;
    top: 10px;
    font-size: 28px;
    z-index: 2;
}

#myName {
    left: 16px;
    text-align: center;
}

#linkToMyResume {
    right: 16px;
    width: max-content;
    cursor: pointer;
}

.emailId {
    cursor: pointer;
    display: inline-block;
}

#linkToMyResume::after {
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: currentColor;
    position: absolute;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease;
}

#linkToMyResume:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.container {
    height: 100vh; 
    width: 100vw;
    overflow: hidden;
    background-color: black;
    color: white;
}

.introText{
    font-size: min(clamp(30px, 25vh, 200px), clamp(30px, 25vw, 200px));
    margin: 0 auto;
    width: max-content;
    line-height: 100vh;
}

.cursor {
    font-family: none;
    color: black;
    mix-blend-mode: darken;
    font-size: min(clamp(50px, 28vh, 220px), clamp(50px, 28vw, 220px));
    position: absolute;
    top: -2%;
}

.darkCursor {
    font-family: none;
    color: white;
    font-size: min(clamp(50px, 28vh, 220px), clamp(50px, 28vw, 220px));
    position: absolute;
    top: -2%;
}

.scrollDownIcon {
    color: black;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
}

.primaryIntroContainer {
    background-color: white;
    color: black;
    position: absolute;
}

.secondaryIntroContainer {
    background-color: black;
    color: white;
}

.container2 {
    position: relative;
}

.question {
    font-size: clamp(30px, 20vw, 200px);
    text-rendering: optimizeLegibility;
    color: white;
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 100%;
    padding: 20px;
    transform: translate(0, -50%);
}

.cityImage {
    height: 100vh;
    width: 100vw;
    object-fit: fill;
}

.imageContainer {
    overflow: hidden;
    background-color: black;
    position: relative;
    text-rendering: optimizeLegibility;
}

.textOnImage {
    background-color: black;
    mix-blend-mode: soft-light; 
    color: white;
    height: 100vh;
    padding: 20% 15% 20% 15%;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

div[id^='imageNumber'] {
    --minFontSize: 30px;
    --maxFontSize: 64px;
    --preferredFontSize: 10vw;
    font-size: min(clamp(var(--minFontSize), var(--preferredFontSize), var(--maxFontSize)),
                 clamp(var(--minFontSize), var(--preferredFontSize), var(--maxFontSize)));
    margin: 10px 0;                 
}

div[id^='imageCityName'] {
    --minFontSize: 30px;
    --maxFontSize: 144px;
    --preferredFontSize: 20vw;
    font-size: min(clamp(var(--minFontSize), var(--preferredFontSize), var(--maxFontSize)),
                 clamp(var(--minFontSize), var(--preferredFontSize), var(--maxFontSize)));
    margin-top: 30px;
}

div[id^='imageCountryName'] {
    --minFontSize: 20px;
    --maxFontSize: 50px;
    --preferredFontSize: 10vw;
    font-size: min(clamp(var(--minFontSize), var(--preferredFontSize), var(--maxFontSize)),
                 clamp(var(--minFontSize), var(--preferredFontSize), var(--maxFontSize)));
    margin-top: 5px;
}

div[id^='imageDescription'] {
    --minFontSize: 10px;
    --maxFontSize: 30px;
    --preferredFontSize: 7vw;
    font-size: min(clamp(var(--minFontSize), var(--preferredFontSize), var(--maxFontSize)),
                 clamp(var(--minFontSize), var(--preferredFontSize), var(--maxFontSize)));
    margin-top: 40px;
}

.primaryOutroContainer {
    background-color: black;
    position: absolute;
    color: white;
}

.secondaryOutroContainer {
    background-color: white;
    color: black;
}

.outroContainer {
    position: relative;
}

.outroText {
    font-size: min(clamp(30px, 25vh, 200px), clamp(30px, 25vw, 200px));
    margin: 0 auto;
    padding: 0 2px;
    width: max-content;
    line-height: 100vh;
}

.funnyCommentParentContainer {
    font-size: min(clamp(20px, 7vh, 28px), clamp(20px, 7vw, 28px));
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -80%);
    padding: 0;
    width: max-content;
    overflow: hidden;
}

.funnyComment, .contactInfo {
    transform: translate(0, 100%);
}

.contactInfoParentContainer {
    text-align: center;
    font-size: 22px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
    cursor: pointer;
}


.contactInfoParentContainer::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    display: inline-block;
    content: '';
    height: 4px;
    width: 100%;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease;
}

.contactInfoParentContainer:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

a {
    text-decoration: none;
    color: black;
}